@import "../../../../../styles/base/base.scss";

.menu-item {
  &-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    @include xLarge {
      min-width: 40rem;
    }
  }

  &-image {
    min-width: 11rem;
    max-width: 11rem;
    height: 11rem;

    object-fit: cover;

    @include large {
      min-width: 12rem;
      max-width: 12rem;
      height: 12rem;
    }
    @include xLarge {
      min-width: 13rem;
      max-width: 13rem;
      height: 13rem;
    }
  }

  &-info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;

    &-price {
      font-size: 1.25rem;
      color: #2c5282;
      font-weight: bold;
      flex-grow: 1;
    }

    &-ingredients {
      font-size: 1.25rem;
      color: #2c5282;
      font-weight: bold;
    }
  }
}

// .description {
//   color: #666;
//   margin-bottom: 1rem;
//   line-height: 1.4;
//   font-size: 2rem;
// }
