@import "../../../../../styles/base/base.scss";

$menu-item-width-l: 20rem;
$menu-item-width-m: 18rem;
$menu-item-width-s: 16rem;

.menu-item {
  &-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;

    flex-direction: column;
    max-width: $menu-item-width-s;
    min-width: $menu-item-width-s;
    @include medium {
      max-width: $menu-item-width-m;
      min-width: $menu-item-width-m;
    }
    @include xLarge {
      max-width: $menu-item-width-l;
      min-width: $menu-item-width-l;
    }
  }

  &-image {
    width: 100%;
    height: $menu-item-width-s;

    object-fit: cover;

    @include medium {
      height: $menu-item-width-m;
    }
    @include xLarge {
      height: $menu-item-width-l;
    }
  }

  &-info {
    padding: 0 1rem;
    height: 8rem;
    &-seasonal {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}
