<app-content-page title="Market Schedule">
  <section class="schedule">
    <p>Saturday May 10, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday June 14, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday July 12, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday August 09, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday September 13, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday October 11, 2025 - Fair Haven Farmer's Market</p>
    <p>Saturday November 08, 2025 - Fair Haven Farmer's Market</p>
  </section></app-content-page
>
