<!-- <app-content-page>
  <section class="home">
    <div class="welcome">Welcome to Red Cottage Bakery!</div>

    <img
      src="../../../assets/images/home/bag.JPEG"
      alt="red cottage bakery cookie bag"
      class="menu-item-image cookie-bag"
    />

    <img
      src="../../../assets/images/home/box.JPEG"
      alt="red cottage bakery cookie box"
      class="menu-item-image"
    />
    <img
      src="../../../assets/images/home/braclet.JPEG"
      alt="red cottage bakery friendship braclet"
      class="menu-item-image"
    />
    <img
      src="../../../assets/images/home/brownies.JPEG"
      alt="red cottage bakery brownies"
      class="menu-item-image"
    />
    <img
      src="../../../assets/images/home/buns.JPEG"
      alt="red cottage bakery cinnamon buns"
      class="menu-item-image"
    />
    <img
      src="../../../assets/images/home/cart.JPEG"
      alt="red cottage bakery cart"
      class="menu-item-image cart"
    />
    <img
      src="../../../assets/images/home/flag.JPEG"
      alt="red cottage bakery flag"
      class="menu-item-image flag"
    />
    <img
      src="../../../assets/images/home/flowers.JPG"
      alt="red cottage bakery flowers"
      class="menu-item-image flowers"
    />
  </section>
</app-content-page> -->

<app-content-page>
  <section class="home">
    <p class="welcome">Welcome to Red Cottage Bakery!</p>
    <img
      src="../../../assets/images/home/cart.JPEG"
      alt="red cottage bakery cart"
      class="menu-item-image cart"
    />
    <img
      src="../../../assets/images/home/bag.JPEG"
      alt="red cottage bakery cookie bag"
      class="menu-item-image cookie-bag"
    />
    <img
      src="../../../assets/images/home/buns.JPEG"
      alt="red cottage bakery cinnamon buns"
      class="menu-item-image buns"
    />
    <img
      src="../../../assets/images/home/brownies.JPEG"
      alt="red cottage bakery brownies"
      class="menu-item-image brownies"
    />
    <img
      src="../../../assets/images/home/braclet.JPEG"
      alt="red cottage bakery friendship braclet"
      class="menu-item-image braclets"
    />
  </section>
</app-content-page>
