<app-scroll-navigation
  (mobileMenuStateChange)="onMobileMenuStateChange($event)"
></app-scroll-navigation>

<main [class.hidden]="isMobileMenuOpen()">
  <section id="home">
    <app-welcome></app-welcome>
  </section>
  <section id="about">
    <app-about></app-about>
  </section>
  <section id="menu">
    <app-menu></app-menu>
  </section>
  <section id="schedule">
    <app-schedule></app-schedule>
  </section>
  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>
