<app-content-page title="About Us">
  <section class="origin-story">
    <p class="centered-paragraph opening-line">
      When word spread that a farmer's market was starting in town, this hobby
      baker knew it was time to open a small business.
    </p>
    <p class="centered-paragraph">
      We are a home bakery, officially referred to in legal parlance as a
      Cottage Food Operator; our home is little and red. And so, we became Red
      Cottage Bakery!
    </p>
  </section>
  <section class="philosophy">
    <p class="centered-paragraph">
      We favor classic desserts and familiar flavors. Our menu is a blend of
      heritage recipes passed down through generations, re-creations of
      nostalgia desserts and enduring favorites from well-worn books. We bake
      with the seasons, using premium and local ingredients at every
      opportunity.
    </p>
    <p class="centered-paragraph">
      Baking brings joy. Thank you for sharing in our fun.
    </p>
  </section>
  <footer>
    <p class="centered-paragraph">
      Betsy Kroll <br />
      owner/baker
    </p>
  </footer>
</app-content-page>
