.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  app-menu-list-item {
    flex: 1 1 300px; // grow, shrink, basis
    // min-width: 0; // prevents overflow
    // max-width: 100%;
  }
}
