.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.title-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 6rem;
  width: auto;
}

.title {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  color: var(--color-primary); // Update the color to var(--color-primary)
}

.icon {
  display: flex;
  height: 3rem;
  width: auto;
}

.menu-open-close {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0.5rem; // Adjusted to make space for the Instagram icon
}

.mobile-nav {
  display: none;
}

.instagram {
  position: absolute;
  right: 0;
  padding-right: 1rem;
}
nav {
  ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1001;
    ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-top: 5rem;
    }
  }
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 250;
  color: var(--color-purple);
  &.active {
    font-weight: 350;
    color: var(--color-green); // Active link color
  }
}

// Mobile styles
@media (max-width: 835px) {
  .mobile {
    &-nav {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      background-color: white; //RSMTODO

      position: absolute;
      width: 100%;
      margin-top: 6rem;
      ul {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem;
      }
    }
  }
  .main-nav {
    display: none;
  }
  .menu-open-close {
    display: flex;
    justify-content: center;
  }

  .instagram {
    display: none; // Hide the Instagram icon in mobile view
  }

  nav.open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1001;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    font-size: 2em; // Increase the font size for mobile
    padding: 20px; // Add padding for better touch targets
  }

  .menu-item {
    margin: 20px 0; // Add margin between menu items
  }
}
