<app-content-page title="Contact Us">
  <section class="contact-info">
    <p class="centered-paragraph">We'd love to hear from you!</p>
    <p class="centered-paragraph">
      To place an advance order for the next farmer's market, if you have
      questions about custom orders, or to simply say 'hello,' please send an us
      an email.
    </p>
  </section>
  <section class="mailing-list">
    <p class="centered-paragraph">
      Sign up with your email address to receive occasional updates.
    </p>
  </section>
</app-content-page>
